Source: ros-indigo-sr-movements
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 9.0.0), libmagick++-dev, ros-indigo-catkin, ros-indigo-control-msgs, ros-indigo-roscpp, ros-indigo-rostest, ros-indigo-sensor-msgs, ros-indigo-sr-hand, ros-indigo-sr-robot-msgs, ros-indigo-sr-utilities, ros-indigo-std-msgs
Homepage: http://ros.org/wiki/sr_movements
Standards-Version: 3.9.2

Package: ros-indigo-sr-movements
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagick++-dev, ros-indigo-control-msgs, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-sr-hand, ros-indigo-sr-robot-msgs, ros-indigo-sr-utilities, ros-indigo-std-msgs
Description: Contains a node which can be used to take the hand through a series of movements (perfect for tuning controllers for example).
