Source: ros-hydro-sr-utilities
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-sr-robot-msgs, ros-hydro-tf
Homepage: http://ros.org/wiki/sr_utilities
Standards-Version: 3.9.2

Package: ros-hydro-sr-utilities
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-sr-robot-msgs, ros-hydro-tf
Description: sr_utilities contains different useful header libraries (math libraries, etc...).
